.submissions, favorites-container {
  background: white;
  padding: 6px;
  margin: 6px;
  border-radius: 6px;
}

.favorites div, .submissions div {
  background: white;
  padding: 6px;
  margin: 6px;
  border-radius: 6px;
}

.theme-options, .title-options {
  margin: 4px;
	text-align: center;
}

.bin {
  height: 30px;
}

.pencil {
  height: 20px;
}

.arrow {
  height: 20px;
}

.Card button {
  border: none;
  font-size: 20px;
}

.interpretations-container, favorites-container  {
  display: flex;
}

.submissions {
  display: flex;
  flex-direction: column;
  margin: 20px;
}
