/* .favorites, .submissions {

} */

.theme-options, .title-options {
  margin: 4px;
}

.bin {
  height: 30px;
}

.pencil {
  height: 20px;
}

.arrow {
  height: 20px;
}

.Card button {
  border: none;
}

.favoites {
  color: white;
}

.interpretation-container {
  display: flex;
}

.submissions {
  display: flex;
  flex-direction: column;
  margin: 20px;
}